/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
  background-color: #f0f2f5;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #111;
  margin-bottom: 20px;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #f0c14b;
  color: #111;
  border: 1px solid #a88734;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddb347;
}

button:active {
  background-color: #a88734;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

button[type='button'] {
  background-color: transparent;
  color: #0066c0;
  border: none;
  text-align: center;
  padding: 5px;
}

button[type='button']:hover {
  text-decoration: underline;
}

/* Form-specific Styles */
.form-toggle {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.form-toggle button {
  background-color: transparent;
  color: #0066c0;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.form-toggle button:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 400px) {
  .card-container {
    width: 90%;
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  input, button {
    font-size: 14px;
  }
}
