/* Not Found Page */
.not-found {
    text-align: center;
    padding: 3rem;
  }
  
  .not-found h2 {
    font-size: 2rem;
    color: #dc3545;
  }
  
  .not-found a {
    text-decoration: none;
    color: #007bff;
  }
  
  .not-found a:hover {
    text-decoration: underline;
  }
  
  /* NotFound.css */
.not-found-container {
    text-align: center;
    padding: 50px;
  }
  
  .not-found-header {
    font-size: 3rem;
    color: #e63946;
  }
  
  .not-found-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .not-found-link:hover {
    background-color: #0056b3;
  }
  